################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CheckPwd/v15
/CheckPwd/bin/Debug
/CheckPwd/obj/Debug
